{% extends 'base.htm' %}
{% load static %}
{% block title %}  {% endblock title %}


{% block header %}
    
<header>

     <!-- Navbar -->
    
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'CoreView' %}">QuizApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'quizs' %}">View Quiz</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'scoreboard' %}">SocreBoard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>    
      </ul>
    </div>  
  </nav>
  
  
</header>

{% endblock header %}

{% block body %}


{% endblock body %}